*~
oink-enabled
public/test/**
_assets/*
web2.esproj/*
.rdebug_hist
public/sitemap1.xml.gz
public/javascripts/animoto/pages/animoto.create.js
coverage.data
doc/app
.config*
_assets
vendor/plugins/blackbook
./**/.swp
.DS_Store
doc/app/*
public/cache
.irb_history
tmp/*
coverage/**
public/google*.html
public/test
TAGS
*.tmproj
*.rbc
\#*
test/coverage/
*.swp
.bundle
sproutcore/tmp
public/index.html
public/cache/**
./**/.#*
public/sitemap_index.xml.gz
public/stylesheets/animoto-all.css
doc/**
public/stylesheets/animoto/ui/animoto.webfonts.css
public/assets
./**/.DS_Store
vendor/plugins/blackbook/**
public/javascripts/animoto-all.js
log/*
config/animoto/client_service_config_development.yml
config/animoto/client_service_config_test.yml
config/animoto/web2_config_development.yml
config/animoto/web2_config_test.yml
public/javascripts/animoto/animoto.airbrake.js